.hide {
	display: none;
}

li {
    margin-bottom: 5px;
}

input.long {
    width: 300px;
}

ul.inline li {
    display: inline;
    margin-right: 10px;
}

.terminal-wrapper label {
	border-bottom: 1px solid lightgrey;
	display: block;
}

.terminal-wrapper div {
	font-family: monospace;
}

.box {
    border: 1px solid #333333;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}